// Main Sass File
$bg-color: #333;
$font-color: #fff;
$primary-color: #008ed6;	

.navbar{
	border-bottom: $primary-color 5px solid;
}

.py-5
{
	border-top: $primary-color 5px solid;
}

.dropdown-toggle::after {
	color: $font-color;
}

.btn-primary
{
	background-color: $primary-color;
}

.bg-dark
{
	background-color: #005550 !important;
}

a.bg-dark:focus, a.bg-dark:hover {
  background-color: #004440 !important; }

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

section {
  padding: 1px 0;
}

.social-icon > a {
	color:inherit;
	text-decoration: none;
}

hr {
  border-top: 2px solid $primary-color; }